name: Run tests

on:
  push:
    paths-ignore:
      - '.github/**'
      - '**/*.md'
      - '**/*.yaml'
  pull_request:
    paths-ignore:
      - '.github/**'
      - '**/*.md'
      - '**/*.yaml'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 20, 22 ]
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: npm ci
    - name: Run tests
      run: npm run test-ci
